@import url("css.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');


*{
    font: 18px "Nunito", sans-serif;
    color: black;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: o;
}

body{
    align-items: center;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}

@media slideitem {
    
}

img{
    box-shadow: 20px 10px #8F8F76;
    border-radius: 30px;
    /* max-width: 95%; */
    width: 1600px;
    height: 900px;
}

.slide{
    content: none;
}